
h1{
    color:blueviolet;
}

@import url(https://fonts.google.com/specimen/Montserrat?preview.size=22&query=Mon);
body {
    background:white
   font-family: "Montserrat", sans-serif;


}

#contenedor {
    background-color: pink;
    width: 50vw;
    height: 70vh;
    position: absolute;
    inset: 0;
    margin:auto;
    

}